{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <h1> Hello {{user.username}}</h1>
    <h2>Records</h2>

    <table class="table table-hover table-bordered">
         <thead class="table-primary">
            <tr>
                <th scope="col">Created At</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
            </tr>
         </thead>
         <tbody>
            {% if records %}
                {% for record in records %}
            <a href="{% url 'record' record.id %}">
                <tr>

                    <td>{{record.created_at}}</td>
                    <td>{{record.id}}</td>
                    <td><a href="{% url 'record' record.id %}">{{record.first_name}} {{record.last_name}}</a></td>
                    <td>{{record.email}}</td>
                    <td>{{record.phone}}</td>
                    <td>{{record.address}}, {{record.city}}, {{record.state}}, {{record.zipcode}}</td>

                </tr>
                {% endfor %}
            {% endif %}
         <tbody>
    </table>

    {% else %}
    <div class="col-md-6 offset-md-3">
    <h1 class="mb-3">Login</h1>
        <form method="POST" action="{% url 'home' %}">
             <!-- cors site request frogry -->
            {% csrf_token %}
            <div class="mb-3">
                <input required type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <input required type="password" class="form-control" name="password" placeholder="Password" >
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    {% endif %}
{% endblock %}

