{% extends 'base.html' %}

{% block content %}
<h2 class="mb-3">Create Record:</h2>
<div class="col-md-6 offset-md-3">
        <form method="POST">
             <!-- cors site request frogry -->
            {% csrf_token %}

            {{ form.as_p }}
            <div class="d-flex flex-row mt-4 gap-2">
                <button type="submit" class="btn btn-success">Save Changes</button>
                <a href="{% url 'home' %}" class="btn btn-primary">Return</a>
            </div>
        </form>
</div>
{% endblock %}